---
layout: default
title: Home
permalink: /
---

<div class="home">

  <header class="page-header">
    <!-- <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
    <h1 class="post-title">Building useful things, with awesome people.</h1>
  </header>

  <div>

  <p>Hey there, my name is <b>Chè Nxusani</b>, I’m a freelance software developer based in Cape Town, working remotely for a wide range of international clients. I help rapidly build products that solve concrete problems, using elegant technical solutions that balance time and cost.</p>

  <p>I’ve had the fortune to work on a wide range of projects in industries ranging from telecommunications, real-estate and advertising. These include large enterprise projects for Axel Springer, Red Bull, Amer Sports and Dimension Data, as well as for smaller startups such as <a href="http://enviolo.com">enviolo</a> and <a href="http://property.works">Property.Works</a>.</p>

  <p>UI Design, User Experience and Product Design are also areas I am passionate about and participate in whenever given the chance. </p>

  <p>I’m always interested in learning; teaching; occasionally talking at conferences and meeting interesting people. If you’d like to chat or meet up, don’t hesitate
    to get hold of me at <a href="mailto:che.nxusani@gmail.com">che.nxusani@gmail.com</a> or on <a href="https://twitter.com/code_dependant">Twitter</a>. You can also check out my UI experiments out on <a href="https://codepen.io/code_dependant">CodePen</a>.</p>

  </div>

<!--   <h1 class="page-heading">Latest Post</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  <h1 class="page-heading">Latest Project</h1>
  <ul class="post-list">
    {% for project in site.data.projects %}
      <li>
        <h2>
          <a class="post-link" href="{{ project.url }}">{{ project.name }}</a>
        </h2>
        <span>{{project.description}}</span>
      </li>
    {% endfor %}
  </ul>
 -->
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
