---
layout: default
title: Home
permalink: /
---

<div class="home">

  <header class="page-header">
    <!-- <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
    <h1 class="post-title">Building useful things with awesome people.</h1>
  </header>

  <div class="post-intro">
  Hey, my name is <a href="#">Chè Nxusani</a>. I'm a software developer building applications for the web. I live in Berlin, Germany working as a senior frontend developer at <a href="http://meyermillersmith.com" target="_blank">Meyer Miller Smith</a>. I'm pretty active on <a href="http://codepen.io/code_dependant" target="_blank">Codepen</a>, experimenting with interaction design, pushing the limits of CSS; HTML and Javascript. Feel free to <a href="http://www.twitter.com/code_dependant" target="_blank">say hi</a>.
  </div>
  <!-- <hr> -->
  <h1 class="page-heading">Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
