@font-face {
  font-family: Brandon;
  src: url("/fonts/HVD Fonts - BrandonText-Regular.otf") format("opentype");
}
@font-face {
  font-family: Brandon;
  font-weight: 900;
  src: url("/fonts/HVD Fonts - BrandonText-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Gotham";
  font-weight: 800;
  src: url("/fonts/GothamHTF-Ultra.otf") format("opentype");
}
@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: url("/fonts/GothamHTF-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Gotham";
  font-weight: 400;
  src: url("/fonts/GothamHTF-Book.otf") format("opentype");
}
